.login-background {
  background-image: linear-gradient(145deg, #41c0ae, #e0bc41);

  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-content {
      width: 300px;
      height: 580px;
      border-radius: 24px;
      background-color: white;

      .text-login {
        margin: 36px 0 54px;
        font-size: 28px;
        font-weight: 600;
      }

      .login-input {
        margin-bottom: 24px;

        label {
          font-size: 11px;
          opacity: 0.6;
        }

        .login-input-outline {
          border: none;
          border-radius: unset;
          border-bottom: 1px solid #80808042;
          padding: 0;
        }

        .login-input-outline:focus {
          outline: none;
          box-shadow: none;
        }

        .eye-password {
          position: relative;

          .login-password {
            width: 90%;
          }

          .login-show-password {
            position: absolute;
            display: block;
            right: 0;
            transform: translateY(-100%);
            border-bottom: 1px solid #80808042;

            i {
              padding: 4px 6px;
            }
          }

          .login-message {
            display: block;
            color: red;
          }
        }
      }

      .btn-login {
        display: block;
        background-image: linear-gradient(145deg, #41c0ae, #e0bc41);
        color: white;
        font-size: 16px;
        line-height: 30px;
        border-radius: 15px;
        text-decoration: none;
      }

      .btn-login:hover {
        opacity: 0.7;
      }

      .forgot_password {
        display: inline-block;
        line-height: 24px;
        font-size: 12px;
        text-decoration: none;
        color: rgba(6, 6, 246, 0.737);
      }

      .text-other-login {
        margin: 60px 0 12px;
      }

      .login-icon-design {
        display: inline-block;
        width: 40px;
        line-height: 40px;
        border-radius: 20px;
        font-size: 28px;
        margin: 0 8px;
        color: white;
      }

      .login-icon-facebook {
        background-color: #385898;
        padding-right: 2px;
      }

      .login-icon-google {
        background-color: #d64e42;
      }
    }
  }
}
