.container {
  .btn-add {
    display: block;
    width: fit-content;
    height: fit-content;
    margin-bottom: 4px;
    font-size: 12px;
  }

  .btn-group-user {
    display: flex;
    justify-content: center;
    border: none;

    .btn-user-list {
      background-color: transparent;
      border-radius: 4px;
      margin: 0 8px;
      padding: 0px 18px;
    }

    .btn-edit {
      color: #0d6efd;
      &:hover {
        background-color: #0071ba;
        color: white;
      }
    }

    .btn-delete {
      color: #ff0000c7;
      &:hover {
        background-color: #ff0000c7;
        color: white;
      }
    }
  }
}

.modal-success-message {
  color: green;
}
