.medical-pic-size {
  background-size: contain;
}

.medical-pic1 {
  background-image: url('../../../assets/images/medicalFacility/114348-bv-viet-duc.jpg');
}

.medical-pic2 {
  background-image: url('../../../assets/images/medicalFacility/095119-benh-vien-cho-ray-h1.jpg');
}

.medical-pic3 {
  background-image: url('../../../assets/images/medicalFacility/112414-pk-dhyd1.jpg');
}

.medical-pic4 {
  background-image: url('../../../assets/images/medicalFacility/114446-anh-bia-bvk.jpg');
}

.medical-pic5 {
  background-image: url('../../../assets/images/medicalFacility/095412-bv-hung-viet.jpg');
}

.medical-pic6 {
  background-image: url('../../../assets/images/medicalFacility/093035-benh-vien-thu-cuc-1.jpg');
}

.medical-pic7 {
  background-image: url('../../../assets/images/medicalFacility/101727-anh-sg-toan-dien-ben-ngoai.jpg');
}

.medical-pic8 {
  background-image: url('../../../assets/images/medicalFacility/145224-bn-nam-hoc-va-hiem-muon-hn.jpg');
}
