.doctorDetail-header-bgr .home-header-content {
  background-color: #c6f9ff;
}

.doctorDetail-content {
  margin-top: 77px;

  .doctorDetail-intro {
    display: flex;
    height: 160px;
    padding: 15px 0;

    .doctorDetail-intro-left {
      .intro-left-avatar {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-right: 15px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .doctorDetail-intro-right {
      .intro-right-header {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .doctorDetail-schedule {
    border: 1px solid;
    margin-top: 16px;
  }

  .doctorDetail-detail-bgr {
    background-color: #f9f9f9;

    .doctorDetail-detail-content {
      padding: 20px 0;

      span {
        font-size: 14px;
      }

      p {
        margin: 0;
        padding-left: 20px;
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}
