.speciality-pic1 {
  background-image: url('../../../assets/images/speciality/120331-co-xuong-khop.jpg');
}

.speciality-pic2 {
  background-image: url('../../../assets/images/speciality/120741-tim-mach.jpg');
}

.speciality-pic3 {
  background-image: url('../../../assets/images/speciality/120933-tieu-hoa.jpg');
}

.speciality-pic4 {
  background-image: url('../../../assets/images/speciality/121042-than-kinh.jpg');
}

.speciality-pic5 {
  background-image: url('../../../assets/images/speciality/121146-tai-mui-hong.jpg');
}

.speciality-pic6 {
  background-image: url('../../../assets/images/speciality/121215-cot-song.jpg');
}

.speciality-pic7 {
  background-image: url('../../../assets/images/speciality/121232-y-hoc-co-truyen.jpg');
}

.speciality-pic8 {
  background-image: url('../../../assets/images/speciality/121305-cham-cuu.jpg');
}

.speciality-pic9 {
  background-image: url('../../../assets/images/speciality/175620-nhi-khoa.jpg');
}

.speciality-pic10 {
  background-image: url('../../../assets/images/speciality/175809-da-lieu.jpg');
}

.speciality-pic11 {
  background-image: url('../../../assets/images/speciality/181619-sieu-am-thai.jpg');
}

.speciality-pic12 {
  background-image: url('../../../assets/images/speciality/181822-san-phu-khoa.jpg');
}

.speciality-pic13 {
  background-image: url('../../../assets/images/speciality/182233-viem-gan.jpg');
}

.speciality-pic14 {
  background-image: url('../../../assets/images/speciality/182940-roi-loan-giac-ngu.jpg');
}
