@import '../styles/common.scss';

.navigator-menu {
  display: flex;
  margin: 0;
  padding: 0;
  &.list-unstyled,
  .list-unstyled {
    list-style-type: none;
  }
  .menu-group {
    &:hover {
      cursor: pointer;
      background-color: darken($colormain, 5);
    }

    .menu-group-name {
      line-height: 40px;
      padding: 0 15px;
      border-right: 1px solid $border;
      &:first-child {
        border-left: 1px solid $border;
      }

      &.active {
        background-color: black;
      }
    }
    .menu-list {
      display: none;
      background-color: $bg-menu-color;
      box-shadow: 2px 2px 4px 0 $box-shadow-color;
      -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
      color: $text-in-light;
      position: absolute;
      padding: 0;
      .menu {
        min-width: fit-content;
        padding: 0 15px;
        height: 35px;
        line-height: 35px;
        text-transform: none;

        &.active {
          font-weight: 500;
          background-color: #ededed;
          a {
            color: rgba(0, 0, 255, 0.642);
          }
        }

        &:hover {
          background-color: darken($bg-menu-color, 3);
          .sub-menu-list {
            display: block;
          }
        }
        .icon-right {
          display: block;
          position: absolute;
          top: 0;
          right: 10px;
        }

        .menu-link {
          text-decoration: none;
          color: $text-in-light;
        }
      }
    }
    &:hover {
      .menu-list {
        display: block;
      }
    }
  }
}
